<!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">App</h2>
                    <h3 class="section-subheading text-muted">Available on the Android Play Store soon.</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-beer fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Recipe Designer</h4>
                    <p class="text-muted">Build and maintain your recipes, supports BeerXML, BeerJSON and BeerProto</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-shopping-cart fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Inventory Managment</h4>
                    <p class="text-muted">Keep track of you hops, malts yeasts and other fermentables.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-users fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Profiles</h4>
                    <p class="text-muted">Brewing equipment, mash, fermentation and all your packaging.</p>
                </div>
            </div>
        </div>
    </section>