{{ define "main" }}
  {{ $section := .Site.GetPage "section" .Section }}
  <section id="content">
    <h1>{{- .Title -}}</h1>
    <div class="{{ $.Param "post_content_classes"  | default "serif"}} f4 nested-links nested-img mid-gray pr4-l w-two-thirds-l">
    
      {{- .Content -}}
      {{- partial "tags.html" . -}}
      <div>
      {{ if .Site.DisqusShortname }}
        {{ template "_internal/disqus.html" . }}
      {{ end }}
      {{ if .Site.Params.commentoEnable }}
        {{- partial "commento.html" . -}}
      {{ end }}
      </div>
    </div>

    <aside>
      {{- partial "menu-contextual.html" . -}}
    </aside>

  </section>

  
{{ end }}
