 body {
     overflow-x: hidden;
     font-family: "Roboto Slab", "Helvetica Neue", Helvetica, Arial, sans-serif;
     color: #333;
 }

 .text-muted {
     color: #777;
 }

 .text-primary {
     color: #673ab7 !important;
 }

 .btn-primary {
     color: #fff;
     background-color: #673ab7;
     border-color: #673ab7;
     text-transform: uppercase;
     font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
     font-weight: 700;
     font-size: 14px;

 }

 .btn-primary:hover {
     text-decoration: none;
     color: #fff;
     background-color: #b388ff;
 }

 .btn-secondary:hover {
     text-decoration: none;
     color: #fff;
     background-color: #afbfcc;
 }

 .btn-secondary {
     color: #fff;
     background-color: #6c757d;
     border-color: #6c757d;
     text-transform: uppercase;
     font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
     font-weight: 700;
     font-size: 14px;
 }

 .form-check-label {
     font-weight: 500;
     font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;

 }

 p {
     font-size: 14px;
     line-height: 1.75;
 }


 a,
 a:hover,
 a:focus,
 a:active,
 a.active {
     outline: 0;
 }

 a {
     color: #673ab7;
 }

 a:hover,
 a:focus,
 a:active,
 a.active {
     color: #b388ff;
 }

 h1,
 h2,
 h3,
 h4,
 h5,
 h6 {
     text-transform: uppercase;
     font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
     font-weight: 700;
 }


 .btn-xl {
     padding: 20px 40px;
     border-color: #673ab7;
     border-radius: 3px;
     text-transform: uppercase;
     font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
     font-size: 18px;
     font-weight: 700;
     color: #fff;
     background-color: #673ab7;
 }


 .btn-xl:hover,
 .btn-xl:focus,
 .btn-xl:active,
 .btn-xl.active {
     border-color: #673ab7;
     color: #fff;
     background-color: #b388ff;
     text-decoration: none;
 }

 .navbar {
     border-color: transparent;
     background-color: #222;
 }

 .navbar .navbar-brand {
     font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, cursive;
     font-weight: 800;
     /* color: #673ab7; */
 }

 .navbar .navbar-brand:hover,
 .navbar .navbar-brand:focus,
 .navbar .navbar-brand:active,
 .navbar .navbar-brand.active {
     color: #b388ff;
 }

 .navbar .navbar-collapse {
     border-color: rgba(255, 255, 255, .02);
 }

 /* 
 .navbar .navbar-toggle {
     border-color: #673ab7;
     background-color: #673ab7;
 }

 .navbar .navbar-toggle .icon-bar {
     background-color: #fff;
 }

 .navbar .navbar-toggle:hover,
 .navbar .navbar-toggle:focus {
     background-color: #673ab7;
 } */

 .navbar .navbar-nav .nav-link {
     text-transform: uppercase;
     font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
     font-weight: 400;
     letter-spacing: 1px;
     color: #fff;
     -webkit-transition: all ease .35s;
     -moz-transition: all ease .35s;
     transition: all ease .35s;
 }

 .navbar .navbar-nav .nav-link:hover,
 .navbar .navbar-nav .nav-link:focus {
     outline: 0;
     color: #673ab7;
     text-decoration: none;
 }

 @media(min-width:768px) {
     .navbar {
         /* padding: 25px 0; */
         border: 0;
         background-color: transparent !important;
         -webkit-transition: padding .3s;
         -moz-transition: padding .3s;
         transition: padding .3s;
     }

     .navbar .navbar-brand {
         font-size: 2em;
         -webkit-transition: all .3s;
         -moz-transition: all .3s;
         transition: all .3s;
     }

     .navbar.navbar-shrink {
         padding: 10px 0;
         background-color: #222 !important;
     }

 }

 header {
     text-align: center;
     color: #fff;
     background-attachment: scroll;
     background-image: url('/img/header-bg.jpg');
     background-position: center center;
     background-repeat: none;
     -webkit-background-size: cover;
     -moz-background-size: cover;
     background-size: cover;
     -o-background-size: cover;
 }

 header .intro-text {
     padding-top: 100px;
     padding-bottom: 50px;
 }

 header .intro-text .intro-lead-in {
     margin-bottom: 25px;
     font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
     font-size: 22px;
     font-style: italic;
     line-height: 22px;
 }

 header .intro-text .intro-heading {
     margin-bottom: 25px;
     text-transform: uppercase;
     font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
     font-size: 50px;
     font-weight: 700;
     line-height: 50px;
 }

 @media(min-width:768px) {
     header .intro-text {
         padding-top: 300px;
         padding-bottom: 200px;
     }

     header .intro-text .intro-lead-in {
         margin-bottom: 25px;
         font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
         font-size: 40px;
         font-style: italic;
         line-height: 40px;
     }

     header .intro-text .intro-heading {
         margin-bottom: 50px;
         text-transform: uppercase;
         font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
         font-size: 75px;
         font-weight: 700;
         line-height: 75px;
     }
 }

 section {
     padding: 100px 0;
 }

 section h2.section-heading {
     margin-top: 0;
     margin-bottom: 15px;
     font-size: 40px;
 }

 section h3.section-subheading {
     margin-bottom: 75px;
     text-transform: none;
     font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
     font-size: 16px;
     font-style: italic;
     font-weight: 400;
 }

 @media(min-width:768px) {
     section {
         padding: 150px 0;
     }
 }

 .service-heading {
     margin: 15px 0;
     text-transform: none;
 }

 section#contact {
     background-color: #222;
     background-image: url('/img/map-image.png');
     background-position: center;
     background-repeat: no-repeat;
 }

 section#contact .section-heading {
     color: #fff;
 }

 section#contact .form-group {
     margin-bottom: 25px;
 }

 section#contact .form-group input,
 section#contact .form-group textarea {
     padding: 20px;
 }

 section#contact .form-group input.form-control {
     height: auto;
 }

 section#contact .form-group textarea.form-control {
     height: 236px;
 }

 section#contact .form-control:focus {
     border-color: #673ab7;
     box-shadow: none;
 }

 section#contact::-webkit-input-placeholder {
     text-transform: uppercase;
     font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
     font-weight: 700;
     color: #bbb;
 }

 section#contact:-moz-placeholder {
     text-transform: uppercase;
     font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
     font-weight: 700;
     color: #bbb;
 }

 section#contact::-moz-placeholder {
     text-transform: uppercase;
     font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
     font-weight: 700;
     color: #bbb;
 }

 section#contact:-ms-input-placeholder {
     text-transform: uppercase;
     font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
     font-weight: 700;
     color: #bbb;
 }

 section#contact .text-danger {
     color: #e74c3c;
 }

 footer {
     padding: 25px 0;
     text-align: center;
     border-top: 1px solid #222;
 }

 footer span.copyright {
     text-transform: uppercase;
     text-transform: none;
     font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
     line-height: 40px;
 }

 footer ul.quicklinks {
     margin-bottom: 0;
     text-transform: uppercase;
     text-transform: none;
     font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
     line-height: 40px;
 }

 ul.social-buttons {
     margin-bottom: 0;
 }

 ul.social-buttons li a {
     display: block;
     width: 40px;
     height: 40px;
     border-radius: 100%;
     font-size: 20px;
     line-height: 40px;
     outline: 0;
     color: #fff;
     background-color: #222;
     -webkit-transition: all .3s;
     -moz-transition: all .3s;
     transition: all .3s;
 }

 ul.social-buttons li a:hover,
 ul.social-buttons li a:focus,
 ul.social-buttons li a:active {
     background-color: #673ab7;
 }

 .btn:focus,
 .btn:active,
 .btn.active,
 .btn:active:focus {
     outline: 0;
 }

 .portfolio-modal .modal-content {
     padding: 100px 0;
     min-height: 100%;
     border: 0;
     border-radius: 0;
     text-align: center;
     background-clip: border-box;
     -webkit-box-shadow: none;
     box-shadow: none;
 }

 .portfolio-modal .modal-content h2 {
     margin-bottom: 15px;
     font-size: 3em;
 }

 .portfolio-modal .modal-content p {
     margin-bottom: 30px;
 }

 .portfolio-modal .modal-content p.item-intro {
     margin: 20px 0 30px;
     font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
     font-size: 16px;
     font-style: italic;
 }

 .portfolio-modal .modal-content ul.list-inline {
     margin-top: 0;
     margin-bottom: 30px;
 }

 .portfolio-modal .modal-content img {
     margin-bottom: 30px;
 }

 .portfolio-modal .close-modal {
     position: absolute;
     top: 25px;
     right: 25px;
     width: 75px;
     height: 75px;
     background-color: transparent;
     cursor: pointer;
 }

 .portfolio-modal .close-modal:hover {
     opacity: .3;
 }

 .portfolio-modal .close-modal .lr {
     z-index: 1051;
     width: 1px;
     height: 75px;
     margin-left: 35px;
     background-color: #222;
     -webkit-transform: rotate(45deg);
     -ms-transform: rotate(45deg);
     transform: rotate(45deg);
 }

 .portfolio-modal .close-modal .lr .rl {
     z-index: 1052;
     width: 1px;
     height: 75px;
     background-color: #222;
     -webkit-transform: rotate(90deg);
     -ms-transform: rotate(90deg);
     transform: rotate(90deg);
 }

 ::-moz-selection {
     text-shadow: none;
     background: #673ab7;
 }

 ::selection {
     text-shadow: none;
     background: #673ab7;
 }

 img::selection {
     background: 0 0;
 }

 img::-moz-selection {
     background: 0 0;
 }

 body {
     webkit-tap-highlight-color: #673ab7;
 }

 .card-text {
     font-size: 1rem;
     font-weight: 400;
     text-transform: none;
     font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
 }

 .card-header {
     font-weight: 600;
     font-size: 0.9rem;
 }