<!-- Clients Aside -->
    <aside class="clients">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-sm-6">
                    <a href="#">
                        <img src="img/logos/badge-android.png" class="img-responsive img-centered" alt="Google Play">
                    </a>
                </div>
                <div class="col-md-6 col-sm-6">
                    <a href="#">
                        <img src="img/logos/pwa-launch-54.png" class="img-responsive img-centered" alt="Progressive Web App">
                    </a>
                </div>              
            </div>
        </div>
    </aside>