{{ $script := .Site.Data.webpack_assets.app }}
{{ with $script.js }}
<script src="{{ relURL (printf "%s%s" "dist/" .) }}"></script>
{{ end }}
<script src="/js/header.js" async></script>
<script src="https://kit.fontawesome.com/75d7a18bc8.js" crossorigin="anonymous" async></script>

<script>
  var externalScripts = {
    "analytics": [{
        "src": "https://www.gstatic.com/firebasejs/7.21.0/firebase-app.js"
      },
      {
        "src": "https://www.gstatic.com/firebasejs/7.21.0/firebase-analytics.js"
      },
      {
        "src": "/js/firebaseConfig.js"
      }
    ]
  }
</script>
<script src="/js/cookiePolicy.js"></script>