<footer>
    <div class="container">
        <div class="row">
            <div class="col-sm">
                <span class="copyright">Copyright &copy; {{ with .Site.Copyright | default .Site.Title }}
                    {{ . | safeHTML }} {{ now.Format "2006"}} {{ end }}</span>
            </div>

            {{ partial "social-follow.html" . }}

            <div class="col-sm">
                <ul class="list-inline quicklinks">
                    <li class="list-inline-item"><a href="/privacypolicy">Privacy Policy</a></li>
                    <li class="list-inline-item"><a href="/termsandconditions">Terms of Use</a></li>
                </ul>
            </div>
        </div>
    </div>
</footer>

<nav class="navbar fixed-bottom-left" id="cookiePolicy" style="display: none;">
    <div class="card" style="width: 18rem;">
        <h5 class="card-header">This website uses cookies</h5>
        <div class="card-body">
            <p class="card-text">We use cookies to improve user experience. Choose what cookies you allow us to use. You
                can
                read more about our Cookie Policy in our <a href="/privacypolicy">Privacy policy</a>
            </p>
            <div class=" form-check">
                <input class="form-check-input" type="checkbox" value="analytics" id="defaultCheck1" checked>
                <label class="form-check-label" for="defaultCheck1">
                    Analytics
                </label>
                <small class="text-muted">
                    <br>
                    Data collect, process and store using Google Analytics ('Google Analytics data') is secure and kept
                    confidential.
                </small>
            </div>
        </div>
        <div class="card-body text-center">
            <a href="#" class="btn btn-primary" onclick="cookiePolicy.accept()">Accept</a>
            <a href="#" class="btn btn-secondary" onclick="cookiePolicy.decline()">Decline All</a>
        </div>
    </div>
</nav>